* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#__nuxt {
  height: 100%;
}

@font-face {
  font-family: 'TroisMille';
  src: url('~/assets/fonts/TroisMille-Regular24.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TroisMille';
  src: url('~/assets/fonts/TroisMille-Medium24.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: rgb(21, 17, 13);
  color: rgb(241, 235, 226);
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
